---
import "../styles/global.css";
import Navigation from "../components/navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kevin Knights</title>
  </head>
  <body>
    <header>
      <h1>Contact</h1>
    </header>

    <nav>
      <Navigation />
    </nav>

    <main>
      <section>
        <h2>Contact information</h2>
        <p>
          <ul>
            <li>
              <a href="mailto:kevin.k.knights@gmail.com">My Email</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/knightsk/"
                >My LinkedIn Profile</a
              >
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCPP7F-eLSi4Eyl4tY6--N8w"
                >My YouTube Channel</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/kevinknights29"
                >My Instagram Profile</a
              >
            </li>
            <li>
              <a href="https://www.tiktok.com/@kevin_k_knights"
                >My TikTok Profile</a
              >
            </li>
            <li>
              <a href="https://twitter.com/kevin_knights">My Twitter Profile</a>
            </li>
            <li>
              <a href="https://www.github.com/kevinknights29"
                >My GitHub Profile</a
              >
            </li>
          </ul>
        </p>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 My Blog. All rights reserved.</p>
    </footer>
  </body>
</html>
