---
import Social from './Social.astro';

const currentYear = new Date().getFullYear();
---

<style>
  footer {
   ocdisplay: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  .social {
    display: flex;
    gap: 1rem;
  }
</style>

<footer>
  <p>&copy; {currentYear} My Blog. All rights reserved.</p>
  <div className="social">
    <Social platform="twitter" username="kevin_k_knights" />
    <Social platform="github" username="kevinknights29" />
    <Social platform="youtube" username="@Kevin_Knights" />
  </div>
</footer>
