---
const currentYear = new Date().getFullYear();
const platform = "github";
const username = "kevinknights29";
---

<footer>
  <p>&copy; {currentYear} My Blog. All rights reserved.</p>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
</footer>
